SECRET_KEY = SECRET_KEY

DEBUG = DEBUG

NAME = DATABASE_NAME
USER = DATABASE_USER
PASSWORD = DATABASE_PASSWORD
HOST = DATABASE_HOST
PORT = DATABASE_PORT

EMAIL_HOST = EMAIL_HOST
EMAIL_PORT = EMAIL_PORT
EMAIL_USE_TLS =
EMAIL_USE_SSL =
EMAIL_HOST_USER = YOUR_EMAIL_ADDRESS
EMAIL_HOST_PASSWORD = YOUR_EMAIL_PASSWORD
