
{% extends 'products/base.html' %}
{% load my_tags %}
{% block content %}

<div class="col-12">
    <div class="text-center container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm" style="height: 24rem;">
            <img src="{{ product.image | media_filter }}" class="card-img-top col-5" alt="Card image cap" >
            <div class="card-body">
              <p class="card-text">Продукт: {{object.name}}</p>
              <p class="card-text">Категория: {{object.category}}</p>
              <p class="card-text">Цена: {{object.price}}</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class = "btn btn-primary" href="{% url 'products:products_list' %}" role = 'button'>назад</a>


                </div>
                <small class="text-body-secondary">{{ product.description|truncatechars:100}}</small>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
</div>
{% endblock %}
