{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4">Список продуктов</h2>

  <a href="{% url 'catalog:product_form' %}" class="btn btn-success mb-4">Добавить продукт</a>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in object_list %}
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.desc|truncatewords:20 }}</p>
            <p class="card-text"><strong>Цена:</strong> {{ product.price }} ₽</p>
          </div>
          <div class="card-footer d-flex flex-wrap gap-2">
            {% if not product.is_published %}
            <br>
            <br>
            <p class="text-danger">Продукт был снят с публикации.</p>
            {% endif %}
            <a href="{% url 'catalog:single_product' product.pk %}" class="btn btn-primary btn-sm">Подробнее</a>
            {% if product.owner == user or is_moderator %}
            <a type="button" class="btn btn-primary btn-sm"
               href="{% url 'catalog:product_update' product.pk %}">Изменить</a>
            <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger btn-sm">Удалить</a>
            {% endif %}
          </div>
                <div class="card-footer d-flex justify-content-end mt-2">
                  {% if product.is_published and product.owner == user or is_moderator %}
                    <form action="{% url 'catalog:product_unpublish' product.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">Снять с публикации</button>
                    </form>
                    {% endif %}
                </div>

        </div>
      </div>
    {% empty %}
      <div class="col">
        <div class="alert alert-warning">Нет доступных продуктов.</div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}